spring:
  application:
    name: nullpointer

  profiles:
    active: local

  datasource:
    url: jdbc:mariadb://192.168.0.176:3306/syncle?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: nullpointer
    password: nullpointer
    driver-class-name: org.mariadb.jdbc.Driver

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: Asia/Seoul

server:
  port: 8080

mybatis:
  mapper-locations: classpath:mappers/**/*.xml
  type-aliases-package: com.nullpointer.api.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"
  level:
    root: INFO
    com.nullpointer: DEBUG
    org.mybatis: DEBUG
    org.springframework.jdbc.core: DEBUG
